* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --primary-color: #143c3c;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 1140px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    height: var(--height, 57px);
    min-width: var(--width, 107px);
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    line-height: var(--height);
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
    border-radius: 40px;
}

.btn:hover {
    opacity: 0.9;
}
.hero__circle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: #fff;
    border-radius: 50%;
    background: #83a17d;
}
/* header  */
.header {
    position: sticky;
    background: #ffffff;
    top: -10px;
    z-index: 3;
    padding: 28px 0 10px;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    margin-left: 406px;
}
.header__item {
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}
.header__link {
    padding: 8px 19px;
}
.header__item:hover,
.header__home {
    color: #152427;
}

.header__home {
    position: relative;
}

.header__home::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 16px;
    height: 3px;
    background: #143c3c;
    z-index: 1;
}
.header__btn {
    --height: 57px;
    --width: 173px;
    margin-left: 88px;
}
/* hero */
.hero {
    background: #fff;
    margin-top: 75px;
}

.hero__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__container::before {
    content: "";
    position: absolute;
    top: -76px;
    width: 100%;
    height: 2px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}
/* --hero image --  */
.hero__image {
    position: relative;
    height: 543px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 20px;
}

.hero__image__item {
    display: block;
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
    z-index: 2;
}

.hero__image .hero__image__item:nth-child(2) {
    align-self: flex-end;
}

.hero__image--blur {
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    right: 150px;
    top: 122px;
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
}

.header__decor {
    position: absolute;
    right: 273px;
    top: -33px;
    z-index: 2;
}

.header__decor:last-child {
    top: 229px;
    right: 45px;
    transform: rotate(180deg);
}
/* -- hero detail --  */
.hero__detail {
    width: 35.5%;
    flex-shrink: 0;
}

.hero__title {
    width: 368px;
    font-family: "Public Sans";
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: var(--primary-color);
}
.hero__desc {
    margin-top: 20px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.hero__navbar {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.hero__btn {
    --width: 173px;
    --height: 57px;
    margin-right: 43px;
}

.hero__circle-border-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    transition-duration: 0.3s;
}

.hero__circle-border-btn:hover {
    border: 4px solid #83a17d;
    transform: rotate(135deg);
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.hero__circle-border-btn:hover .hero__circle-btn {
    background: var(--primary-color);
    transform: rotate(135deg);
    transition-duration: 0.3s;
}

.hero__icon-circle {
}
.hero__link {
    margin-left: 7px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #575d5e;
}

.hero__link:hover {
    color: #152427;
}
