* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --primary-color: #143c3c;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 1140px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    height: var(--height, 57px);
    min-width: var(--width, 107px);
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    line-height: var(--height);
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
    border-radius: 40px;
}

.btn:hover {
    opacity: 0.9;
}
.hero__circle-btn,
.circle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: #fff;
    border-radius: 50%;
    background: #83a17d;
}
/* header  */
.header {
    position: sticky;
    background: #ffffff;
    top: -10px;
    z-index: 3;
    padding: 28px 0 10px;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    margin-left: 406px;
}
.header__item {
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}
.header__link {
    padding: 8px 19px;
}
.header__item:hover,
.header__home {
    color: #152427;
}

.header__home {
    position: relative;
}

.header__home::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 16px;
    height: 3px;
    background: #143c3c;
    z-index: 1;
}
.header__btn {
    --height: 57px;
    --width: 173px;
    margin-left: 88px;
}
/* hero */
.hero {
    background: #fff;
    margin-top: 75px;
}

.hero__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__container::before {
    content: "";
    position: absolute;
    top: -76px;
    width: 100%;
    height: 2px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}
/* --hero image --  */
.hero__image {
    position: relative;
    height: 543px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 20px;
}

.hero__image__item {
    display: block;
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
    z-index: 2;
}

.hero__image .hero__image__item:nth-child(2) {
    align-self: flex-end;
}

.hero__image--blur {
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    right: 150px;
    top: 122px;
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
}

.header__decor {
    position: absolute;
    right: 273px;
    top: -33px;
    z-index: 2;
}

.header__decor:last-child {
    top: 229px;
    right: 45px;
    transform: rotate(180deg);
}
/* -- hero detail --  */
.hero__detail {
    width: 35.5%;
    flex-shrink: 0;
}

.hero__title {
    width: 368px;
    font-family: "Public Sans";
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: var(--primary-color);
}
.hero__desc {
    margin-top: 20px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.hero__navbar {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.hero__btn {
    --width: 173px;
    --height: 57px;
    margin-right: 43px;
}

.hero__circle-border-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    transition-duration: 0.3s;
}

.hero__circle-border-btn:hover {
    border: 4px solid #83a17d;
    transform: rotate(135deg);
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.hero__circle-border-btn:hover .hero__circle-btn {
    background: var(--primary-color);
    transform: rotate(135deg);
    transition-duration: 0.3s;
}

.hero__link {
    margin-left: 7px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #575d5e;
}

.hero__link:hover {
    color: #152427;
}
/*  === === ========== customer ========== === ===  */
.customer {
    margin-top: 130px;
}

.customer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 76px 121px;
    height: 201px;
    background: #e2eddf;
    border-radius: 100.5px;
}

.customer__image-icon {
    color: var(--primary-color);
}
.customer__link:nth-child(1) .customer__image-icon {
    width: 112px;
}

/*  === === ========== services ========== === ===  */

.services {
    margin-top: 106px;
}

.heading__desc {
    position: relative;
    margin-left: 46px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.6rem;
    color: #152427;
}

.heading__desc::before {
    content: "";
    background: #152427;
    position: absolute;
    top: 50%;
    left: -46px;
    position: absolute;
    width: 25px;
    height: 1px;
}

.services__heading {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.heading__title {
    position: relative;
    width: 45.62%;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: var(--primary-color);
}

.heading__title::before {
    content: "";
    position: absolute;
    bottom: 19px;
    right: 103px;
    width: 66px;
    height: 2px;
    background: #152427;
}

.services__navbar {
    display: flex;
    margin-top: 41px;
    gap: 17px;
}

.services__nav-btn {
    width: 54px;
    height: 54px;
    background: #e2eddf;
    color: var(--primary-color);
    transition: 0.3s;
}

.services__nav-btn:hover {
    color: #ffffff;
    background: var(--primary-color);
}

.services__row {
    margin-top: 76px;
    display: flex;
    gap: 16px;
}

.services__items {
    flex-grow: 1;
    border-radius: 20px 20px 20px 20px;
}
.services__items:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.services__image-block {
    height: 318px;
}
.services__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.services__items:hover .services__image {
    opacity: 0.9;
}

.services__detail {
    padding: 24px 12px 15px;
}

.services__sub-title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 2.2rem;
    color: #152427;
}

.services__sub-desc {
    margin-top: 18px;
    width: 268px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/*  === === ========== About ========== === ===  */
.about {
    margin-top: 149px;
}

.about__container {
    position: relative;
    display: flex;
    gap: 64px;
}

.about__decor {
    position: absolute;
    top: 10px;
    left: 48px;
    transform: rotate(12.64deg);
}
/* -- about__thumb -- */

.about__thumb {
    position: relative;
    width: 51.85%;
    height: 570px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 21px;
}
.about__img {
    display: block;
    object-fit: cover;
    width: 284px;
    height: 480px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    border-radius: 210px;
    border: 1px solid #ffffff;
}

.about__img + .about__img {
    align-self: flex-start;
    margin-top: 13px;
}

/* -- about__panel -- */

.about__panel {
    width: 144px;
    height: 144px;
    padding: 19px 17px 11px;
    background: #ffffff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
    position: absolute;
    right: -9px;
    bottom: 8px;
}

.panel__content {
    margin-left: 4px;
}

.panel__title {
    font-family: "Public Sans";
    font-weight: 600;
    font-size: 1.4rem;
    color: #152427;
}

.panel__desc {
    margin-top: 6px;
    font-family: "Public Sans";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}

.panel__stats {
    margin-top: 10px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.panel__process {
    margin-top: 3px;
}

.panel__process--max {
    width: 100%;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}

.panel__process--now {
    width: 40%;
    height: 2px;
    background: #83a17d;
    border-radius: 10px;
}

.panel__load {
    display: block;
    text-align: right;
    margin-top: 4px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1rem;
    color: #152427;
}

.panel__status {
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11px;
    height: 11px;
    border-radius: 11px;
    background: #eaeaea;
}
.panel__status--live {
    width: 5px;
    height: 5px;
    border-radius: 11px;
    background: var(--primary-color);
}

.panel__row {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.panel__row .panel__stats {
    margin-top: 0;
}
.panel__member {
    display: flex;
    align-items: center;
}

.panel__avatar {
    object-fit: cover;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.panel__avatar + .panel__avatar {
    margin-left: -6px;
}
/* -- about__detail -- */
.about__detail {
    flex-grow: 1;
}

.about__span {
    position: relative;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.12;
    color: #152427;
}

.about__span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -46px;
    background: #152427;
    width: 25px;
    height: 1px;
}

.about__title {
    margin-top: 20px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.about__desc {
    margin-top: 11px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

.about__list {
    margin-top: 36px;
}

.about__list + .about__list {
    margin-top: 58px;
}
.about__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
}

.about__item::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 1px;
    background: #83a17d;
}
.about__item-span {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.about__sub-desc {
    width: 364px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/*  === === ========== Process ========== === ===  */
.process {
    margin-top: 115px;
}

.process__name {
    position: relative;
    margin-left: 53px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 18px;
    color: #152427;
}

.process__name::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    top: 50%;
    left: -46px;
    background: #152427;
}

.process__heading {
    position: relative;
    margin-top: 20px;
    width: 477px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.process__heading::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    bottom: 18px;
    left: 420px;
    background: #152427;
}

.process__list {
    margin-top: 81px;
}

.process__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 185px;
}

.process__item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    left: 0px;
    bottom: 0;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}
/* .process__item:hover */
.process__item:hover {
    background: #e2eddf;
    border-radius: 33px;
    transition: 0.3s;
}
.process__item:hover .process__link {
    display: block;
    transition: 0.3s;
}
.process__item:hover::after {
    display: none;
    transition: 0.3s;
}

.process__item:hover .process__desc {
    display: none;
    transition: 0.3s;
}

.process__item:hover .process__picture {
    display: block;
    height: 185px;
    width: 572px;
    object-fit: cover;
    border-radius: 33px;
    transition: 0.3s;
}
.process__number {
    min-width: 120px;
    display: block;
    margin-left: 30px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 7.2rem;
    line-height: 0.72;
    color: #143c3c;
}

.process__detail {
    min-width: 176px;
    margin-left: 64px;
}

.process__desc {
    width: 572px;
    margin-left: 175px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #7d8188;
}
.process__sub-title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}

.process__link {
    display: none;
    margin-top: 22px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    color: #575d5e;
}

.process__link:hover {
    text-decoration: underline;
}

.process__describle {
    margin-left: auto;
}
.process__picture {
    display: none;
}

/* process__media */
.process__media {
    position: relative;
    margin-top: 148px;
    padding: 116px 0px 63px;
    background: #143c3c;
}

.media__header {
    display: flex;
    align-items: center;
    column-gap: 93px;
}

.process__media__heading {
    color: #e7f9f9;
    width: 457px;
    flex-shrink: 1;
}

.media__header__desc {
    position: relative;
    max-width: 590px;
}
.process__media__heading::before {
    left: 294px;
    background: #83a17d;
}

.media__desc {
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #6a8383;
}

.media__navbar {
    margin-top: 13px;
    display: flex;
    align-items: center;
}

.media__link {
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
    margin-right: 26px;
}

.media__link-icon {
    color: #ffffff;
}

.media__navbar:hover .media__link,
.media__navbar:hover .media__link-icon {
    color: #80a07b;
}

.media__decor {
    z-index: 2;
    position: absolute;
}

.media__decor-Union {
    right: calc((100vw - 1140px) / 2 + 50px);
    top: 230px;
}

.media__decor-line {
    right: calc((100vw - 1140px) / 2 + 50px);
    top: 150px;
}

.process__video-btn {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    width: 118px;
    height: 118px;
    border-radius: 50%;
}

.process__video-play {
    display: block;
    z-index: 3;
    color: #ffffff;
}
.process__video {
    display: flex;
    align-items: center;
    justify-self: center;
    position: relative;
    margin-top: 65px;
    border-radius: 22px;
    width: 100%;
    height: 544px;
}

.process__video-img {
    position: absolute;
    width: 100%;
    height: 544px;
    object-fit: cover;
    z-index: 1;
}
